<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Task</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>
    <div style="padding-top:2%; padding-bottom: 2%;
    text-align: center; padding-bottom: 3.5%;">
        <h1>Add New Task</h1>
    </div>

    <form action="save" method="post">
        <div class="input-group" style="padding-left: 5%; padding-right: 5%;">
            <span class="input-group-text">Priority Status</span>
            <input class="form-control" list="datalistOptions" id="priority_input" name="priority_input" placeholder="Select or Type Status" value="{{priority}}">
            <datalist id="datalistOptions">
                <option value="Low">
                <option value="Medium">
                <option value="High">
            </datalist>
        </div>

        <div class="input-group" style="padding-top: 2.5%; padding-left: 5%; padding-right: 5%;">
            <span class="input-group-text" id="date_input">Date</span>
            <input type="text" class="form-control" placeholder="##/##/####" name="date_input" value="{{date}}" aria-label="date" aria-describedby="date_input" required>
        </div>

        <div class="input-group" style="padding-top: 2.5%; padding-left: 5%; padding-right: 5%;">
            <span class="input-group-text">Task</span>
            <input type="text" class="form-control" name="task_input" value="{{task}}" aria-label="task" aria-describedby="task_input" required>
        </div>

        <div class="d-grid gap-2" style="padding-top: 2.5%; padding-left: 10%; padding-right: 10%;">
            <input type="submit" class="btn btn-primary" value="Save" name="submit_button">
            <a class="btn btn-danger" href="{{url_for('home')}}">Cancel</a>
        </div>
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>